<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4ec2604471.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    </script>
    <style>
      .main{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/12.jpg');
        background-color: #333;
        width:100%;
        height:700px;
        opacity: 1;
        background-size: cover;
      }
      .box{
          height: 400px;
          width: 400px;
          color: black;
          background-color: white;
          opacity:.8;
          border-radius: 10px;
      }
    .form-control{
        padding:5px 20px;
        margin-top:50px;
        margin-left:0px;
        width:340px;
        border-right:none;
        border-left:none;
        border-top:none;
        color:black;
    }
    .btn{
        padding:10px 80px;
        border-radius: 10px;
    }
    .fomo{
        text-align: center;
        color:white;
        font-family:"montserrat",sans-serif;
        font-size:65px;
    }
    .navbar-brand,.nav-link{
           color:white;
    }
  </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-primary bg-dark" >
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent" id="first">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="hack1.ejs">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/idea">Idea</a>
                    </li>
                    <li class="nav-item dropdown">
                      
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="text-decoration: none;">
                        <a href="/user/register"  style="text-decoration: none; color:white">SIGN IN</a></button> &nbsp;
                    
    
                    
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <a href="/user/login" style="text-decoration: none; color:white">LOG IN</a></button>
                     
                  </form>
                </div>
              </nav>
    <div class="main">
        <h1 class="fomo">Welcome Creator</h1><br><br>
   <center> <div class="box">
        <h1>Login</h1>
        <form method="POST" action="/user/login">
            <div class="form-group">
                    <input type="text"
                      class="form-control" name="email" id="" aria-describedby="helpId" placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                          <input type="password"
                            class="form-control" name="password" id="" aria-describedby="helpId" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-primary mx-8" >Login</button>
                    </form>
              </div>
             
     </center>
     </div>
     <footer class="page-footer font-small unique-color-dark">

            <div style="background-color:grey">
              <div class="container">
          
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
          
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
          
                    <!-- Facebook -->
                    <a class="fb-ic">
                      <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                      <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                      <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                      <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                      <i class="fab fa-instagram white-text"> </i>
                    </a>
          
                  </div>
                  <!-- Grid column -->
          
                </div>
                <!-- Grid row-->
          
              </div>
            </div>
          
            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
          
              <!-- Grid row -->
              <div class="row mt-3">
          
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          
                  <!-- Content -->
                  <h6 class="text-uppercase font-weight-bold">Company name</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">Products</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                    <a href="#!">MDBootstrap</a>
                  </p>
                  <p>
                    <a href="#!">MDWordPress</a>
                  </p>
                  <p>
                    <a href="#!">BrandFlow</a>
                  </p>
                  <p>
                    <a href="#!">Bootstrap Angular</a>
                  </p>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                    <a href="#!">Your Account</a>
                  </p>
                  <p>
                    <a href="#!">Become an Affiliate</a>
                  </p>
                  <p>
                    <a href="#!">Shipping Rates</a>
                  </p>
                  <p>
                    <a href="#!">Help</a>
                  </p>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">Contact</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                  <p>
                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                  <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                  <p>
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
          
            </div>
            <!-- Footer Links -->
          
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
              <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          
          </footer>
          <!-- Footer -->
</body>
</html>